@charset "UTF-8";

body{
    background-color: rgb(192, 240, 224);
    font-family: Arial, Helvetica, sans-serif;

h1{
    color: rgb(6, 65, 52);
}

h1#principal{
    text-align: center;
    background-color: rgba(17, 121, 3, 0.699);
    color: rgb(0, 26, 0);
}

h2{
    color: rgb(3, 99, 67);
}

.basico{
        color: rgb(17, 71, 17);
        font-weight: bolder;
}

.intermediario{
                  color: rgb(44, 114, 44);
}

.avancado{
              color: rgb(111, 207, 111);
}

.destaque{
        background-color: aqua;
}