@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif; 
}
body{
    background-image: linear-gradient(to right, #FBE2D0, #D4B99E);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #726455b0 ;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
   color: #507993; 
   text-align: center;
   text-shadow: 1px 1px 02px #3857699d;
}
h2{
    color: #76A6B4;
}
p{
    text-align: justify;
}